<h2>Ingrese Producto</h2>
<form action="/productos" method="POST">
    Titulo: <input type="text" name="title">
    Precio: <input type="text" name="price">
    Imagen(URL): <input type="text" name="thumbnail">
    <button>Enviar</button>
</form>

<a href="/productos">
    <button>Ver todos los productos</button>
</a>
